/*!
 *  ACTSS Theme custom styles
 */

 /*! VARIABLES */
// colors
$blu: #01076d;
$redish: #d1251b;
$orangerish: #dc6836;
$yellowish: #ffad40;
$d-grey: #4d4d4d;
$l-grey: #999;
$almost-white:#e8e8e8;
$white: #fff;
$transparentblack:rgba(0, 0, 0, 0.6);
$transparentlightgrey:rgba(239,239,239,0.8);
$transparentblu:rgba(1,7,109, 0.5);

// fonts

$light: 300;
$regular: 400;
$bold: 700;
$boldest: 900;

@mixin mont($weight) {
	// use this like "@include mont($light);"
	font-family: 'Montserrat', sans-serif;
	// font-weight: 300;
}

.montserrat{
	font-family: 'Montserrat', sans-serif;
}
.rocksalt {
	// use this like "extend .rocksalt"
	font-family: 'Rock Salt', cursive;
}



// breakpoints
$bp-tablet: 600px;
$bp-desktop: 992px;

@mixin screen($size) {

	@if $size == 'tablet' {
		@media only screen and (min-width: $bp-tablet) {
			@content;
		}
	}

	@else if $size == 'desktop' {
		@media only screen and (min-width: $bp-desktop) {
			@content;
		}
	}

	// call this like 
	// @include screen(tablet) {
	// //rules go here
	// }

}

// transition timings 
$t-slow: 500ms;
$t-medium: 300ms;
$t-fast: 100ms;

// extends
.d-center { 
    // center content horizontally and vertically
    @extend .justify-content-center;
    @extend .align-items-center;
}

.d-flex-c {
	// display flex direction column
  @extend .d-flex;
  flex-direction: column;
}

.bg-cover {
	// bg cover compatibility
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// mixins ( add a mixin by writing "@include transition($t-fast);" )
@mixin transition($timing) {
	// transition compatibility
  -webkit-transition: $timing all linear;
  -moz-transition: $timing all linear;
  -o-transition: $timing all linear;
  transition: $timing all linear;
}
//footer style
	.footer{
		background-color: $d-grey;
		.footer-container{
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 24px 60px 24px;
			@include mont($light);

			a{
				color:$white;
			}
			a:hover{
				color: $orangerish;
			}
			.logo{
				width: 168px;
				padding-top:120px;
				margin: 0 auto;	
			}
			ul.social{
				padding-left:0px;
			}
			.social li{
				display:inline-block;
				font-size: 3em;
				padding:21px;
			}
			.footer-text{
				color:$white;
				text-align: center;

			}

		}

	}

	



 /*! GLOBAL STYLES */
 html body{
	font-family: "Montserrat", sans-serif;
 }
h1, h2{
	text-transform:uppercase;
	font-weight: $boldest;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}


// HOME PAGE STYLES

.about-home{
	h2{
		color: $orangerish;
	}
	.about-text-home{
		padding:36px 24px 36px 24px;
		a{
			color:$redish;
			border: 2px solid $redish;
			border-radius:24px;
			padding: 6px 36px 6px 36px;
			float:right;
			margin:8px 0px 24px 0px;
			font-weight: $bold;
		}
	}
}
.about-donation-home{
	background-image: url(../img/cat-dog-red-600px.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center center;
	width: 100%;
	height:420px;
	padding:24px;

	.about-donation-overlay{
		background-color: $transparentblack;
		height:100%;
		text-align:center;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		padding: 2%;
		color:$white;

		p{
			font-size: 1.5em;
			padding:12px;
		}
		a{
			color:$white;
			border: 2px solid $white;
			border-radius:24px;
			padding: 6px 48px 6px 48px;
			// float:right;
			// margin:8px 0px 24px 0px;
			font-weight: $bold;
		}
	}
}
// ABOUT US STYLES

.aboutus-container{

	
	.miss-vis-goals{
		margin:24px;
		h2{
			color: $blu;
			font-size: 2.25em;
		}
		.box{
			background-color: $transparentlightgrey;
			border: 4px solid $blu;
			padding: 24px 24px 8px 24px;
			margin-bottom: 36px;
		}

	}
	.about-us{
		background-color:$almost-white;
		padding:24px; 
		h2{
			color: $blu;
			font-size: 2.25em;
			border-bottom: 4px solid $blu;
			padding-bottom: 24px;
			margin-bottom:30px;
		}
		a{
			color:$blu;
			border: 2px solid $blu;
			border-radius:24px;
			padding: 6px 36px 6px 36px;
			float:right;
			margin:8px 0px 24px 0px;
			font-weight: $bold;
		}
	}
	.history{
		// background: linear-gradient(0,0,0,0.5)
		background-image: linear-gradient(rgba(1,7,109, 0.5), rgba(1,7,109, 0.5)), url(../img/bw-ca-1600w.jpg);
		@extend .bg-cover;
		background-position: center bottom;
		width: 100%;
	
		
		.history-overlay{
			background-color:$transparentblu;
			padding:24px; 
			height: 100%;
			p{
				color: $almost-white;
				margin-bottom:0px;
			}

		}
		h2{
			color: $yellowish;
			border-bottom: 4px solid $yellowish;
			padding-bottom: 24px;
			margin-bottom:30px;
		}
		a{
			color:$yellowish;
			border: 2px solid $yellowish;
			border-radius:24px;
			padding: 6px 36px 6px 36px;
			float:right;
			margin:24px 0px 24px 0px;
			font-weight: $bold;
		}
	}
	.chet{
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/run900w.jpg);
		@extend .bg-cover;
		background-position: center bottom;
		width: 100%;
		height:600px;
		
		.chet-overlay{
			background-color:$transparentblack;
			padding:24px; 
			height: 100%;
			p{
				color: $almost-white;
				margin-bottom:0px;
			}
			.text-overflow{
				max-height: 350px;
				overflow: hidden;
			}
		}
		h2{
			color: $orangerish;
			border-bottom: 4px solid $orangerish;
			padding-bottom: 24px;
			margin-bottom:30px;
			font-size: 2.25em;
		}
		a{
			color:$orangerish;
			border: 2px solid $orangerish;
			border-radius:24px;
			padding: 6px 36px 6px 36px;
			float:right;
			margin:24px 0px 24px 0px;
			font-weight: $bold;
		}
	}

}


 /*! X STYLES */




 
 