/*!
 *  ACTSS Theme custom styles
 */

 /*! VARIABLES */
// colors
$blu: #01076d;
$redish: #d1251b;
$orangerish: #dc6836;
$yellowish: #ffad40;
$d-grey: #4d4d4d;
$l-grey: #999;
$almost-white:#e8e8e8;
$white: #fff;
$black:#000;
$transparentblack:rgba(0, 0, 0, 0.6);
$transparentlightgrey:rgba(239,239,239,0.85);
$transparentblu:rgba(1,7,109, 0.85);
$transparentdgrey:rgba(77, 77, 77, 0.8);
$transparentorange:rgba(220,104,54, 0.85);
$transparentyellow:rgba(255,173,64, 0.85);


// fonts

$light: 300;
$regular: 400;
$bold: 700;
$boldest: 900;

@mixin mont($weight) {
	// use this like "@include mont($light);"
	font-family: 'Montserrat', sans-serif;
	// font-weight: 300;
}

.montserrat{
	font-family: 'Montserrat', sans-serif;
}
.rocksalt {
	// use this like "extend .rocksalt"
	font-family: 'Rock Salt', cursive;
}



// breakpoints
$bp-tablet: 600px;
$bp-desktop: 992px;

@mixin screen($size) {

	@if $size == 'tablet' {
		@media only screen and (min-width: $bp-tablet) {
			@content;
		}
	}

	@else if $size == 'desktop' {
		@media only screen and (min-width: $bp-desktop) {
			@content;
		}
	}

	// call this like 
	// @include screen(tablet) {
	// //rules go here
	// }

}

// transition timings 
$t-slow: 500ms;
$t-medium: 300ms;
$t-fast: 100ms;

// extends
.d-flex {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.d-center { 
    // center content horizontally and vertically
    justify-content: center;
    align-items: center;
}

.d-flex-c {
	// display flex direction column
  @extend .d-flex;
  flex-direction: column;
}

.d-flex-around{
	justify-content:center;
	align-items: space-around;
}

.bg-cover {
	// bg cover compatibility
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hidden {
	display: none;
}



// mixins ( add a mixin by writing "@include transition($t-fast);" )
@mixin transition($timing) {
	// transition compatibility
  -webkit-transition: $timing all linear;
  -moz-transition: $timing all linear;
  -o-transition: $timing all linear;
  transition: $timing all linear;
}

// global nav
.nav {
	position: relative;
	@extend .d-flex;
	justify-content: flex-end;
	.brand {
		position: absolute;
		top: 10px;
		left: 10px;
		display: inline-block;
		.logo {
			width: 50px;
		}
		.brand-tagline {
			display: none;
			
		}
	}
	.mobile-nav-btn {
		line-height: 65px;
		margin-right: 10px;
		a {
			color: $white;
		}
		z-index: 200;
	}
	.menu-main-menu-container {
		position: absolute;
		left: 100%;
		top: 0;
		z-index: 100;
		width: 100%;
		transition: left 0.5s;
		background-color: $orangerish;
		a {
			color: $white;
			@include transition($t-fast);
			&:hover {
				color: darken($white, 10);
				@include transition($t-fast);
			}
			display: block;
			padding: 12px 0px 12px 0px;
		}
		#main-menu {
			margin: 0;
			padding: 0;
			padding-top: 65px;
			padding-bottom: 12px;
			text-align: center;
		}
		&.show {
			left: 0%;
			transition: left 0.5s;
		}
	}
	@include screen('tablet') {
		.menu-main-menu-container {
			max-width: 400px;
			&.show {
				left: calc(100% - 400px);
			}
		}
	}
}

.banner {
	height: 400px;
	width: 100%;
	margin-top: -65px;
	padding-top: 65px;
	background: url(http://actssa.web.dmitcapstone.ca/wp-content/uploads/2018/03/header-600px.png);
	background-size: cover;
	background-repeat: no-repeat;
	@extend .d-flex;
	@extend .d-center;
	.banner-text {
		max-width: 80%;
		margin: 0 auto;
		text-align: center;
		color: $white;
	}
	@include screen('tablet') {
		& {
			background-image: url(http://actssa.web.dmitcapstone.ca/wp-content/uploads/2018/03/header-992px.png);
			height: 450px;
		}
	}
	@include screen('desktop') {
		& {
			background-image: url(http://actssa.web.dmitcapstone.ca/wp-content/uploads/2018/03/header-image-1600px.png);
			height: 600px;
		}
	}
}
//default page
.contain-page{
	background-color: $almost-white;
	background-image:url(../img/triangle-yellow-2.svg), url(../img/shape-yellow-2.svg);
	background-repeat: no-repeat;
	background-position: left top, right bottom;
	background-size: 200px, 200px;
	.page-content{
		max-width:1100px;
		margin:0 auto;
		padding:24px;
		h1,h2,h3,h4{
			color:$blu;
		}
	}
}

//footer style
	.footer{
		background-color: $d-grey;
		font-weight: $light;
		.footer-container{	
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 24px 60px 24px;
			@include mont($light);

			a{
				color:$white;
			}
			a:hover{
				color: $orangerish;
			}
			.logo{
				width: 168px;
				padding-top:60px;
				margin: 0 auto;	
			}
			ul.social{
				padding-left:0px;
			}
			.social li{
				display:inline-block;
				font-size: 3em;
				padding:21px;
			}
			.footer-text{
				color:$white;
				text-align: center;
			}
		}
	}

	
#page {
	overflow: hidden;
}

 /*! GLOBAL STYLES */
 html body{
	font-family: "Montserrat", sans-serif;

 }
h1, h2, h3, h4{
	text-transform:uppercase;
	font-weight: $boldest;
}

h2{
	font-size: 1.875em;
}
h3{
	font-size: 1.5em;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.btn-secondary{
	border:none;
	background-color: transparent;

}
.date{
	font-weight: $bold;
}
.blue-box{
	background-color: $transparentlightgrey;
	border: 4px solid $blu;
	padding: 24px;
	
}
.colored-box-orange{
	background-image: linear-gradient($transparentorange,$transparentorange), url(../img/cat-bnw-600w-300h.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: $almost-white;
	width: 100%;
}
.colored-box-yellow{
	background-image: linear-gradient($transparentyellow,$transparentyellow), url(../img/two-dogs-bnw-600w-300h.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color:$almost-white;
}
.colored-box-blue{
	background-image: linear-gradient($transparentblu,$transparentblu), url(../img/cat-sitting-600x300.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: $almost-white;
}
.colored-box-grey{
	background-image: linear-gradient($transparentdgrey,$transparentdgrey), url(../img/dog-bath-600w-300h.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: $almost-white;
		p{
			max-width:672px;
		}
}

.btn-transition{
	transition:all 0.3s ease-in-out;
}

.btn-styles{
	padding: 8px 36px 8px 36px;
	border-radius:24px;
	text-transform:uppercase;
	font-weight:$bold;
}

// HOME PAGE STYLES
.contain-about-home{
	background-color: $yellowish;
}
.about-home{
	max-width: 1100px;
	margin: 0 auto;
	letter-spacing: 0.25px;

	.about-img-home{
		display: none;
	}
	h2{
		color: $d-grey;
		margin-bottom:10px;
	}

	.about-text-home{
		padding:36px 24px 36px 24px;
		color:$white;
		
		a{
			color:$d-grey;
			border: 2px solid $d-grey;
			margin:24px 0px 6px 0px;
			font-weight: $bold;
			float:right;
			// display:inline-block;
		}
		a:hover{
			color: $white;
			background-color:$d-grey;
		}
	}
}
.about-donation-home{
	background-image: url(../img/smiley-dog-navy-632w.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center center;
	width: 100%;
	height:420px;
	padding:24px;
	.donation-home-img{
		display:none;
	}

	.about-donation-overlay{
		background-color: $transparentblack;
		height:100%;
		text-align:center;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		padding: 24px;
		color:$almost-white;
		float: left;

		p{
			font-size: 1.5em;
			padding:12px;
			
		}
		a{
			color:$white;
			border: 2px solid $white;
			padding: 6px 48px 6px 48px;
			float:right;
		}
		a:hover{
			color: $blu;
			background-color:$white;
		}
	}
}
.contain-events-home{
	background-image:linear-gradient($transparentdgrey,$transparentdgrey),url(../img/concrete-1200w.jpg);
	@extend .bg-cover;
	background-position: center center;
	width: 100%;

}
.events-home{
	max-width: 1100px;
	margin:0 auto;
	color: $d-grey;
	
	h2{
		color: $white;
		margin-left: 24px;
		padding-top:24px;
	}

	.event-pic{
		display: none;
	}
	ul{
		padding:0px 24px 0 24px;
		background-color:rgba(239,239,239,0.75);
		padding:24px;
		margin:24px;
		
		a{
			color: $orangerish;
			border:2px solid $orangerish;
		}
		a:hover{
			color: $white;
			background-color: $orangerish;
		}
		li{
			h3{
				margin-bottom:0;
				padding-top:24px;
				color: $orangerish;
			}
			p{
				padding-bottom:24px;
			}
			.date{
				padding-bottom:0;
			}

		}
	}
	.more-events-btn{
		color:$white;
		border: 2px solid $white;
		float:right;
		margin:24px 24px 24px 0px;	
	}
	.more-events-btn:hover{
		color: $d-grey;
		border-color: $white;
		background-color:$white;
	}
}
//HOME PETS STYLES
.contain-pets-home{
	background-color: $almost-white;
	background-image:url(../img/orange-triangle-1.svg), url(../img/shape-orange-1.svg);
	background-repeat: no-repeat;
	background-position: right center, left bottom;
	background-size: 200px, 200px;
}

.pets-home{
	max-width:1100px;
	margin:0 auto;
	padding:56px 0 48px 0px;
	h2{
		color: $blu;
		padding: 24px 0 0 24px;
		margin-bottom: 0;
	}
	.pets-home-overlay{
		width: 100%;
		ul{
			padding: 24px;
			width: 100%;
			li{
				background-color:$transparentyellow;
				border:none;
				.more-container{
				
					height:100px;
					a{
						color:$blu;
						border: 2px solid $blu;
						float:left;
						margin:30px 24px 24px 0px;
					}
					a:hover{
						color:$white;
						border-color:$blu;
						background-color: $blu;
					}
				}
			
			}
			li:nth-child(2),li:nth-child(3){
				display: none;
			}
			a{
				color: $blu;
			}
			a:hover{
				color: $almost-white;
				
			}
			.pets-title-home{
				width: 100%;
				display: inline-block;
				
				img{
					margin-right:12px;
				}
			}
			
		}
		.more-pet-btn{
			color:$blu;
			border: 2px solid $blu;
			float:right;
			margin:0px 24px 24px 0px;	
		}
		.more-pet-btn:hover{
			color:$white;
			border-color:$orangerish;
			background-color:$orangerish;
		}
	}
	.pet-pic{
		width:100%;
		margin-bottom: 12px;
	}
}
.contain-blog-home{
	background-color: $white;
	background-image:url(../img/yellow-triangle-1.svg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 200px;
}
.blog-home{
	max-width: 1100px;
	margin:0 auto;
	padding-bottom: 24px;
	h2{
		color: $blu;
		padding: 24px 0 0 24px;
		margin-bottom: 0;
	}

	.blog-excerpt-home{
		margin:24px 24px 0px 24px;

		.more-blog-btn{
			color:$blu;
			border: 2px solid $blu;
			float:right;
			margin-top:48px;	
		}
		.more-blog-btn:hover{
			color:$white;
			border-color:$blu;
			background-color:$blu;
		}
		
		li{
			background-color:$almost-white;
		}
			li:nth-child(2){
			display: none;
			}
			p{
				color:$black;
			}

		.blog-content-home{
			padding:24px;
		}
		.blog-content-header-home{
			display:flex;
			flex-direction: column;
			justify-content: center;
			padding:0 24px;
			height: 182px;
			color: $white;
			.date-blog-home{
				padding:0;
				color: $orangerish;
				margin: 0;
			
			}
		}

		ul{
			margin-bottom:0;
			padding: 0;
			li{
				p{
					padding:24px 0 24px 0;
				}
			}
			.more-container{
				background-color: $blu;
				height:100px;
				a{
					color:$yellowish;
					border: 2px solid $yellowish;
					padding: 6px 36px 6px 36px;
					float:right;
					margin:30px 24px 24px 0px;		
				}
				a:hover{
					color:$white;
					background-color: $yellowish;
				}
			}
		}
	}
}

// ABOUT US STYLES
.aboutus-container{
	.miss-vis-goals{
		display: flex;
		flex-wrap: wrap;
		.contain-miss{
			max-width:550px;
			width: 100%;
			float:right;
			text-align: left;
		}
		.contain-vis{
			max-width:550px;
			width: 100%;
			float:left;
			
		}
		color:$white;
		.colored-box-blue{
			.contain-goals{
				max-width: 1100px;
				margin:0 auto;
			}

			.goals{
				display:flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				
				img{
					width: 50px;
					margin:24px;
				}
			}
		}
		.box{
			padding:24px;
			min-height: 164px;
			ul{
				padding-left:0;
	
				li{
					list-style: none;
				}
			}
		}
		p{
			margin-bottom:0px;
		}
	}
	.contain-aboutus{
		background-color: $almost-white;
		background-image:url(../img/triangle-yellow-2.svg), url(../img/shape-yellow-2.svg);
		background-repeat: no-repeat;
		background-position: left top, right bottom;
		background-size: 200px, 200px;
	}
	.about-us{
		max-width:1100px;
		margin:0 auto;
		padding:24px; 
		h2{
			color: $blu;
			margin-bottom:24px;
		}
		a{
			color:$blu;
			border: 2px solid $blu;
			padding: 6px 36px 6px 36px;
			float:right;
			margin:8px 0px 24px 0px;
		}
	}
	.contain-history{
		background-image:linear-gradient($transparentdgrey,$transparentdgrey),url(../img/concrete-1200w.jpg);
		@extend .bg-cover;
		background-position: center bottom;
		width: 100%;
	}
	.history{
		// background: linear-gradient(0,0,0,0.5)
		max-width:1100px;
		margin:0 auto;
		padding: 24px;
			p{
				color: $almost-white;
			}
		h2{
			color: $yellowish;
			margin-bottom:24px;
		}

		a{
			color:$yellowish;
			border: 2px solid $yellowish;
			padding: 6px 36px 6px 36px;
			float:right;
			margin:24px 0px 24px 0px;
		}
	}
	.contain-chet{
		background-image: linear-gradient($transparentorange, $transparentorange), url(../img/run900w.jpg);
		@extend .bg-cover;
		background-position: center bottom;
		width: 100%;
	}
	.chet{
		max-width:1100px;
		margin: 0 auto;
		padding:24px;
			p{
				color: $almost-white;
			}
		h2{
			color: $white;
			margin-bottom:24px;	
		}
		a{
			color:$orangerish;
			border: 2px solid $orangerish;
			padding: 6px 36px 6px 36px;
			float:right;
			margin:24px 0px 24px 0px;
		}
	}
}


//GET INVOLVED STYLES
.contain-involved{
	.join-us{
		background-color: $almost-white;
		padding: 24px;
		h1{
			display: none;
		}	
	}
	.boxes{
		display:flex;
		flex-wrap: wrap;

		.box{
			padding:24px;
			.contain-box-left{
				max-width: 700px;
				float:right;
				text-align: left;
			}
			.contain-box-right{
				max-width: 700px;
			}
			.contain-box-left,.contain-box-right{
				a{
					color: $almost-white;
   					border: 2px solid $almost-white;
					margin: 24px 0 6px 0;
					float: right;
				}
			}
		}
	}
}
//RESOURCES STYLES	
.resources{
	.contain-cancer-questions{
		background-image:linear-gradient($transparentdgrey,$transparentdgrey),url(../img/concrete-1200w.jpg);
		@extend .bg-cover;
		background-position: center center;
		width: 100%;
		.cancer-questions{
			max-width: 1100px;
			margin: 0 auto;
			padding:24px 24px 36px 24px;
			h2{
				padding-left:16px;
				color: $yellowish;
			}
			p{
				color:$white;
				padding-bottom:24px;
			}
		}
	}
	.contain-oncology{
		background-color: $almost-white;
		background-image:url(../img/orange-triangle-1.svg), url(../img/shape-orange-1.svg);
		background-repeat: no-repeat;
		background-position: right center, left bottom;
		background-size: 200px, 200px;
			.oncology{
				padding:24px;
				max-width:1100px;
				margin: 0 auto;
				h2{
					color: $blu;
				}
				.oncology-boxes{
					.yellow-box{
						background-color:$transparentyellow;
						margin-bottom:24px;
						padding:24px;
						h3,h4{
							color: $blu;
						}
						.doctor-info{
							color:$blu;
							a{
								color: $blu;
								font-weight: $bold;
								border:2px solid $blu;
							}
							a:hover{
								color: $white;
								background-color: $blu;
							}
						}


					}
				}
			}
	}
	.contain-support{
		background-image:linear-gradient($transparentblu,$transparentblu),url(../img/hairlesscat-1200w.jpg);
		@extend .bg-cover;
		background-position: center center;
		width: 100%;
	}
	.support{
		// background: linear-gradient(0,0,0,0.5)
		max-width:1100px;
		margin:0 auto;
		padding: 24px;
			p{
				color: $almost-white;
			}
		h2{
			color: $yellowish;
			margin-bottom:24px;
		}

		a{
			color:$yellowish;
			border: 2px solid $yellowish;
			padding: 6px 36px 6px 36px;
			margin:24px 0px 24px 0px;
			float: right;
		}
		a:hover{
			color: $white;
			background-color: $yellowish;
		}

	}
	.contain-cancer-types{
		background-color: $white;
		background-image:url(../img/triangle-yellow-2.svg), url(../img/shape-yellow-2.svg);
		background-repeat: no-repeat;
		background-position: left top, right bottom;
		background-size: 200px, 200px;
	}
	.cancer-types{
		// background: linear-gradient(0,0,0,0.5)
		max-width:1100px;
		margin:0 auto;
		padding: 24px;

		select{
			margin-bottom: 24px;
			margin-left:16px;
		}
		h2{
			color: $blu;
			margin-bottom:24px;
			padding-left:16px;
		}
		h4{
			color: $orangerish;
			font-weight: $boldest;
			text-transform: uppercase;
		}
	}
	
}
// PRIVACY POLICY START
.contain-privacy{
	background-color:$almost-white;
	background-image:url(../img/triangle-yellow-2.svg), url(../img/shape-yellow-2.svg);
	background-repeat: no-repeat;
	background-position: left top, right bottom;
	background-size: 200px, 200px;

	.privacy{
		max-width: 1140px;
		margin:0 auto;
		padding:24px;
		.col{
			column-count: 1;
			h4{
				color: $blu;
				text-transform: uppercase;
				font-weight: $boldest;
			}
			p{
				font-size:1em;
			}
		}
	}
}

//SUBSIDY START
.subsidy-points-content{
	padding: 24px;
	background-color: $almost-white;
	background-image:url(../img/orange-triangle-1.svg), url(../img/shape-orange-1.svg);
	background-repeat: no-repeat;
	background-position: right center, left bottom;
	background-size: 200px, 200px;
	.contain-points{
		max-width: 1100px;
			margin: 0 auto;
		h2{
			color: $blu;
		}
		
		.points{
			background-color: $transparentyellow;
			padding:24px;
			
			
			.point{
				padding-top:36px;
				img{
					width: 50px;
					float:left;
					margin-right:24px;
				}
				div{
					p{
						overflow: hidden;
						color: $white;
					}
				}

			}
		}
	}
}
.contain-apply-info{
	background-color: $white;
	background-image:url(../img/triangle-yellow-2.svg), url(../img/shape-yellow-2.svg);
	background-repeat: no-repeat;
	background-position: left top, right bottom;
	background-size: 200px, 200px;
	.apply-info{
		padding:24px;
		max-width: 1100px;
		margin: 0 auto;
		h2{
			color: $blu;
			padding-left:18px;
		}
		.col{
			column-count: 1;
			a{
				color: $orangerish;
			}
			a:hover{
				color: $blu;
			}
		}
	}
	.btn-styles{
		border:2px solid $blu;
		color:$blu;
		float:right;
		
	}
	.btn-styles:hover{
		background-color: $blu;
		color:$white;
	}
}
.contain-eligibility{
	background-image:linear-gradient($transparentblu,$transparentblu),url(../img/concrete-1200w.jpg);
	.eligibility-info{
		max-width: 1100px;
		margin: 0 auto;
		padding:24px;
		color:$white;
	
		h2{
			color: $yellowish;
			padding-left:18px;
		}
		.col{
			column-count: 1;
			h3{
				color: $yellowish;
			}
			a{
				color: $yellowish;
			}
			a:hover{
				color: $white;
			}
		}
	}
}

//blog/event page archive
.contain-blog{
	background-color: $almost-white;
	.blog{
		max-width:1100px;
		margin: 0 auto;
		h2{
			color: $blu;
			padding:24px;
		}
	}
}
.blog-archive-posts{
	padding:24px;
	margin:0;
	li:nth-child(odd){
		.blog-content-text{
			background-color: $orangerish;
		}
	}
	li:nth-child(even){
		.blog-content-text{
			background-color: $blu;
		}
	}


	li{
		
	
		.blog-squarre{
			width:100%;
		}
		.blog-square:after{
			content:"";
			display: block;
			padding-bottom:100%;
		}

		.blog-content-text{
			padding:24px;
			color: $white;
			margin-bottom:24px;
			


				a{
					color: $white;
				}

				.more{
					border: 2px solid $white;
					color: $white;
					float: right;

				}
				.more:hover{
					color:$d-grey;
					background-color: $white;
					
				}
 
		}
	}
}
//Pets category page
.contain-pets{
	background-color: $almost-white;
	.pets{
		max-width:1100px;
		margin:0 auto;
		padding:24px;
		select{
			margin-bottom:24px;
		}
		h2{
			color:$blu;
		}
		.blog-pets-posts{
			padding:0;
			li{
				width:100%;
				margin-bottom:24px;
				img{
					width:100%;
				}
				.pets-content-text{
					background-color: $blu;
					color:$white;
					padding:24px;
					a{
						color: $orangerish;
					}
					a:hover{
						color:$white;
					}
				}
			}
		}
	}
}

//single blog/event page

.contain-single-blog{
	background-color: $almost-white;
	padding:24px;
	.single-blog{
		max-width:1100px;
		margin: 0 auto;
		text-align: center;
			img{
				margin-bottom:24px;
			}
			span{
				font-size: 1em;
				border-bottom: 2px solid $orangerish;
				padding-bottom:6px;
				
			}
			h2{
				color: $blu;;
			}
			.pet-name{
				margin-bottom:0;
				color:$blu;
			}
			.single-content{
				text-align: left;
			}
			.pets{
				padding:24px;

			}
	}

	.sidebar{

		img{
			margin-bottom: 0;
		}
		h3{
			margin-bottom:24px;;
			color: $orangerish;
		}
		ul{
			padding:0;
		}
		.pet-posts{
			width:280px;
			margin:0 auto;
			.pet-pic{
				width:280px;
			}
		}
		.blog-content{
			text-align: left;
			background-color: $orangerish!important;
			padding:24px;
			color: $white;
			h4{
				color:$white;
			}
			h4:hover{
				color: $blu;
			}
		}
	}
}



//donate/membership/volunteer
.contain-memberships, .contain-volunteer{
	background-color: $yellowish;
}
.memberships, .volunteer{
	max-width: 1100px;
	margin: 0 auto;
	letter-spacing: 0.25px;
	padding:36px 24px 36px 24px;
	color:$white;


	h2{
		color: $d-grey;
		margin-bottom:10px;
	}
		
	a{
		color:$d-grey;
		border: 2px solid $d-grey;
		margin:24px 0px 6px 0px;
		font-weight: $bold;
		float:right;
		// display:inline-block;
	}
	a:hover{
		color: $white;
		background-color:$d-grey;
	}
	
}

	.contain-membership-faq{
		background-image:linear-gradient($transparentdgrey,$transparentdgrey),url(../img/concrete-1200w.jpg);
		@extend .bg-cover;
		background-position: center center;
		width: 100%;
		.membership-faq{
			max-width: 1100px;
			margin: 0 auto;
			padding:24px 24px 36px 24px;
			h2{
				padding-left:16px;
				color: $yellowish;
			}
			p{
				color:$white;
				padding-bottom:24px; 
			}
		}
	}


.contain-sponsors{
	background-color: $white;

	.sponsors{
		max-width:1100px;
		margin:0 auto;
		h2{
			color:$blu;
			padding:24px 0 0 24px;
		}
		.sponsor-type{
			margin: 24px 24px 0 24px;
			h3{
				color: $yellowish;
				font-size: 1.9em;
				padding-bottom:24px;
				text-decoration: underline;
			}
			h4{
				color:$blu;
				font-size: 2.5em;
			}
			.sponsor-logos{
				ul{
					padding:0;
					margin:0;
				}
				li{
					padding:0 24px 24px 24px;
					text-align: center;
					margin:0 auto;
					img{
						max-height:200px;
						width:auto;
					}
				}
			}

		}
	}
}





@include screen(tablet) {
		//page template
		.contain-page{
			.col{
				column-count: 1;
			}
		}

		//global styles for tablet
		.colored-box-orange, .colored-box-yellow, .colored-box-grey{
			width: 50%;
			float: left;
		}
		.col{
			column-count: 2;
			column-gap: 24px;
		}

		p{
			font-size:18px;
		}
		h2{
			margin-bottom:30px;
		}
		//home page styles
		.about-home{
			.about-text-home{
				padding-bottom:0;
				text-align: center;
				
				a{
					float:none;
					display:inline-block;
					margin-bottom:36px;
				}
				h2{
					padding-bottom:18px;
				}
			}
			.about-donation-home{
					display:none;
		}

	}
	.events-home{
		padding:36px 24px 36px 24px;
		ul{
			margin:0px;
		}
		h2{
			padding-top:0;
			margin-left:0;
		}
		.event-pic{
			width:50%;
			max-width:450px;
			display: block;
			float:left;
			margin: 0px 24px 12px 0px;
		}
		p{
			padding-right:12px;
		}
		.more-events-btn{
			margin:24px 0px 24px 0px;

		}
	}
	.pets-home{
		
		h2{
			padding:0px 0px 0px 24px;
		}
		.pets-home-overlay{
			.more-pet-btn{
				margin: 24px 24px 0 0;
			}
			ul{
				li{
					width: 47.5%;
					float: left;
					min-height: 742px;
					
				}
				li:nth-child(2){
					display: block;
					margin-left:5%;
				}
			}
			.more-pet-btn{
				margin-top:48px;
			}
		}
	}
	.blog-home{
		padding:36px 0 56px 0;
		.blog-excerpt-home{
			li{
				width: 47.5%;
				float: left;

			}
			li:nth-child(2){
				display: block;
				margin-left:5%;
			}
		}
	}
	//About Us tablet styles
	.aboutus-container{
		.miss-vis-goals{
			.contain-vis, .contain-miss{
				padding:56px 0;
			}
			.contain-vis{
				padding-left:56px;
			}
			.contain-miss{
				padding-right:56px;
			}
			.colored-box-blue{
				display: inline-block;
				width: 100%;
				.contain-goals{
					padding:56px 0;
				}
				.goal-container{
					.goals{
						display:block;
						text-align: left;
						height:120px;
						img{
							float:left;
						}
						p{
							overflow: hidden;
							padding:24px 0;
						}
						
					}

				}
			}
		}
		.about-us, .history, .chet{
			padding:56px 0;
			p{
				letter-spacing: 0.25px;
			}
				
			h2{
				padding-left:18px;

			}
		}
	}
	// GET INVOLVED TABLET STYLES
	.contain-involved{
		.join-us{
			display:flex;
			h1{
				display: block;
				color: $blu;
				width:30%;
			}
			p{
				width: 70%;
			}
		}
		.boxes{
			.colored-box-blue{
				width: 50%;
			}
		}
	}
	//RESOURCES TABLET STYLES
	.resources{
		.contain-oncology, .contain-cancer-types{
			.oncology, .cancer-types{
				padding:48px 24px;
			}
		}

		.contain-cancer-types{
			.cancer-types{
				.col{
					p{
						letter-spacing: 0.25px;
					}
				}
			}
		}
		.contain-support{
			.support{
				padding: 48px 24px;
				text-align: center;
				max-width: 800px;
				p{
					padding-bottom:16px;
				}
				a{
					padding: 12px 36px 12px 36px;
					float:none;
				
				}
			}
		}
	}
	

	//PRIVACY + SUBSIDY TABLET STYLES

	.subsidy-points-content{
		padding:48px 24px 48px 24px;
		.contain-points{
			.points{
				padding:24px 36px;
			}
		}
	}
	.contain-privacy, .contain-apply-info, .contain-eligibility{
	
		.privacy, .apply-info, .eligibility-info{
			padding:48px 24px 48px 24px;
			.col{
				column-count: 2;
			}
		}
	}
	.blog-archive-posts{
	padding:24px;
	margin:0;
	li:nth-child(odd){
		.blog-content-text{
			background-color: $orangerish;
		}
	}
	li:nth-child(even){
		.blog-content-text{
			background-color: $blu;
		}
	}


	li{
		
		margin-bottom:48px;


		.blog-content-text{
			padding:24px;
			color: $white;
			margin-bottom:24px;
			


				a{
					color: $white;
				}

				.more{
					border: 2px solid $white;
					color: $white;
					float: right;

				}
				.more:hover{
					color:$d-grey;
					background-color: $white;
					
				}
 
		}
	}

}
//Pets category page - tablet
.contain-pets{
	background-color: $almost-white;
	.pets{
		padding:24px;

		.blog-pets-posts{
			li{
				margin-left:6.54%;
				width:46.7%;
				margin-bottom:6.54%;
				float:left;
				img{
					width:100%;
				}
				.pets-content-text{
					min-height: 196px;
				}
			}
			li:nth-child(odd){
				margin-left:0;
			}
		}
	}
}
//membership/volunteer/donate
	.contain-memberships{
		.memberships{
			padding-bottom:0;
			text-align: center;
			
			
			a{
				float:none;
				display:inline-block;
				margin-bottom:36px;
			}
			h2{
				padding-bottom:18px;
			}
		}
	}
}

.contain-sponsors{
	.sponsors{
		.sponsor-type{
			.sponsor-logos{
				ul{
					display:flex;
					flex-direction: row;
					flex-wrap:wrap;
				}
				li{
					padding:0 24px 24px 24px;
					text-align: left;
					margin: 0;
					width:50%;
					img{
						max-height:200px;
						width:auto;
					}
				}
			}

		}
	}
}



//DESKTOP STYLES

@include screen(desktop){
		//page template
		.contain-page{
			.col{
				column-count: 2;
			}
		}
	//global desktop styles
	h2{
		font-size:40px;
	}
	.col{
		
		column-gap: 48px;
	}

	//home page styles
	.aboutus-container{
		.contain-aboutus{
			background-size: 300px, 300px;
		}
	}
	.about-home{
		display: flex;
		justify-content: center;
		padding-top:56px;
		padding-bottom:56px;
		.about-text-home p{
			max-width: 800px;
			
		}
	}	
	.events-home{
		padding:56px 24px 48px 24px;
		.event-pic{
			margin: 0px 30px 12px 0px;
			padding-top:20px;

		}
	}
	.contain-pets-home{
		background-size: 300px, 300px;
	}
	.pets-home{
		.pets-home-overlay{
			
			ul{
				li{
					width: 31.66%;
					float: left;
					p:nth-child(3){
						min-height:162px;
					}
				}
				li:nth-child(2),li:nth-child(3){
					display: block;
					margin-left:2.5%;
				}
			}
			
		}
		
	}
	.contain-blog-home{
		background-size: 300px, 300px;
	}
	.blog-home{
		.blog-excerpt-home{
			li{
				width: 48%;
				float: left;
			}
			li:nth-child(2){
				display: block;
				margin-left:2.75%;
			}
		}
	}


	//ABOUT US PAGE DESKTOP SIZE
	.aboutus-container{
		.miss-vis-goals{
			.colored-box-blue{
				.goal-container{
					.goals{
						padding-bottom:48px;
					}

				}
			}
		}
	
	}
	//RESOURCES DESKTOP STYLES
	.resources{
		.oncology-boxes{
			display: flex;
			.yellow-box{
				width: 31.66666%;
				margin-right:2.5%;
			}
			.yellow-box:last-child{
				margin-right:0;
			}

		}
	}


	//PRIVACY DESKTOP STYLES
	.contain-privacy{
		
		.privacy{
			padding:56px 24px 48px 24px;
			.col{
				column-count: 3;
			}
		}
	}

	.subsidy-points-content{
		padding:56px 24px 48px 24px;
	}
	
	.contain-apply-info{
		.eligibility-info, .apply-info{
			padding:56px 24px 48px 24px;
		}
	}


	//desktop single post page
	.contain-single-blog{
		.single-blog{
			.single-main{
				display: flex;
			}
				.single-content{
					width:57%;

					
				}
		}
		.sidebar{
			width: 35%;
			padding-left:8.5%;
		}
	}
	.blog-content{

		.blog-archive-posts{


			li:nth-child(odd){
				background-color: $orangerish;
			}
			li:nth-child(even){
				background-color: $blu;
			}
			li{
				float: left;
				width: 100%;
				position: relative;
			
				.blog-square{
					width: 50%;
					float: left;
					position: relative;
				}
				.blog-content-text{
					float: right;
					position: relative;
					width: 50%;
				}
			}
		}

	}
	

	//memberships, volunteer, donate
	.volunteer{
		display: flex;
		justify-content: center;
		padding-top:56px;
		padding-bottom:56px;
		.volunteer-info p{
			max-width: 800px;
			
		}
	}	
	//pets category page - desktop 
	.contain-pets{
		.pets{
			.blog-pets-posts{
				li{
					
					margin-left:1.8%;
					margin-right:1.8%;
					width:22.3%;
					margin-bottom:3.6%;
					float:left;
					img{
						width:100%;
					}
					h5{
						font-size: 1.1rem;
					}
				}
				li:nth-child(odd){
					margin-left:1.8%;
				}
				li:nth-child(1),li:nth-child(5){
					margin-left:0;
				}
				li:nth-child(4),li:nth-child(8){
					margin-right:0;
				}
			}
		}
	}
	

}




 /*! X STYLES */




 